<%- include ('./partials/adminHeader'); -%>


<div class="container mt-2">
    <nav aria-label="breadcrumb mt-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
        <li class="breadcrumb-item"><a href="/history">History</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
      </ol>
    </nav>
</div>
 
<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="container404"> 
            <h4 class="text-center text-white">Change Password</h4>
            <% if(error && error.length > 0) { %>
                <div class="d-flex flex-column w-50 mx-auto mt-4 alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="d-flex flex-column w-50 mx-auto mt-4 alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
            <form class="d-flex flex-column w-50 mx-auto mt-4" action="/history/change-password?_method=PUT" method="POST">
                <div class="mb-4"> 
                  <input type="password" class="form-control" name="ChangePass[oldPassword]" id="oldPassword" placeholder="Old Password" required> 
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" name="ChangePass[newPassword]" id="newPassword" placeholder="New Password" required> 
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" name="ChangePass[confirmPassword]" id="confirmPassword" placeholder="Confirm Password" required> 
                </div>
                <div class="mb-4"> 
                    <button type="submit" class="btn btn-success me-1">Submit</button>
                    <a class="btn btn-primary" href="/history">Back</a>
                </div>
            </form> 
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
  </div> 

 

<%- include ('./partials/adminFooter'); -%>
